[main]
; http_port
; The TCP port that the server should bind to, defaults to 7010
http_port=7010

; project_name
; This is the name of your project, as listed in gitlab
project_name=puppet-manifests

; protected_environments
; A comma delimited list of environments that shouldn't be touched!, no matter what!
protected_environments=outage

; environment_method
; Method used to determine environment name, possible values are repo and branch. 
; repo - Environment is defined by the root name of the repo, users are expected to fork from parent repo
; branch - Environment is defined by the branch name of the master repo
envrionment_method=repo

; production_environment
; The name of your production environment, this will be checked out as 'production'
production_envrionment=master

; log_file
; Define the log file where output from the webhook will be saved, uses Python's 
; logging module 
log_file=/var/log/webhook-puppet.log

; log_max_size
; Max size in bytes that the log is allowed to get to, default is 50mb
log_max_size=50331648

; log_level
; Logging level, DEBUG is default or now
; Valid Levels: CRITICAL,ERROR,WARNING,INFO,DEBUG
log_level=DEBUG

; puppet_env_dir
; Puppet environment directory, default of /etc/puppet/environments, all projects
; are put in sub-directories below this
puppet_env_dir=/etc/puppet/environments

; runas
; The user (name) that the daemon should run as
runas=webhook

; ssl_certfile
; A pem file with your server.crt + server.key file idenfies this server
ssl_certfile=/path/to/pemfile

; damonize
; if set it should fork off and run as a daemon, disabling this can help with debug
daemonize=true

[email]

; method
; production - Only send e-mails when production environments are push'd
; development - Only send e-mails when non-production environments are push'd
method=development

; from
; From address
from=gitlab@localhost

; smtpserver
; hostname of your smtp server
smtpserver=localhost

[footprints]

; project
; Workspace ID for footprints project
project=00

; to address for footprints
to=root@footprints

; close_status
; Exact string that Status= should be set to when your commit message has "FIX #[TICKET ID]" 
close_status=Closed
