[Unit]
Description=Gitlab-Puppet-Webhook Daemon

[Service]
Type=simple
EnvironmentFile=/opt/gitlab-puppet-webhook/startup/systemd.conf
ExecStart=/opt/gitlab-puppet-webhook/gitlab-puppet-webhook
ExecStop=/bin/kill $PID
KillMode=process

[Install]
WantedBy=multi-user.target
