[Unit]
Description=Gitlab-Puppet-Webhook Daemon

[Service]
EnvironmentFile=/opt/gitlab-puppet-webhook/startup/systemd.conf
Type=oneshot
ExecStart=/opt/gitlab-puppet-webhook/gitlab-puppet-webhook
ExecStop=/bin/kill $PID
Type=forking
KillMode=process

[Install]
WantedBy=multi-user.target
